"************************************************************************************
"+ Author:chenb
"+ Email:lcy1059469861@163.com
"+ 说明:该配置使用用插件vundle和nerdtree
"+ 增加<F2>用于开启/关闭nerdtree,<F8><F9>用于add/delete注释
"+ 增加c,java,python的一些代码的快捷键，例如 java中的psvm,sout等
"************************************************************************************

"vim默认vimrc配置文件
"=====================================================

"设置编码
set fileencodings=utf-8,ucs-bom,gb18030,gbk,gb2312,cp936
set termencoding=utf-8
set encoding=utf-8

"语言设置
set langmenu=zh_CN.UTF-8
set helplang=cn

"语法高亮
syntax on

"显示行号
set nu "等同于 set number"

"查询高亮" hlsearch
"set hls

"查询自动补全" incsearch
set is

"关掉讨厌的提示音"
set noeb

"突出显示当前行
set cursorline "等同于 set cul

"突出显示当前列
"set cursorcolumn "等同于 set cuc

"共享剪贴板
set clipboard+=unnamed

" 在被分割的窗口间显示空白，便于阅读
set fillchars=vert:\ ,stl:\ ,stlnc:\

"高亮显示括号匹配
set showmatch

"在处理未保存或只读文件的时候，弹出确认
set confirm

"设置Tab长度为4空格
set tabstop=4
set expandtab

"设置自动缩进长度为4空格
set softtabstop=4
set shiftwidth=4

"不要用空格代替制表符
set noexpandtab

"不产生交换文件，linux当多个用户使用同一个文件，或者修改但是没有正确关闭文件会自动产生swp文件，关闭这个自动产生swp功能
set noswapfile
set nobackup

" 不要使用vi的键盘模式，而是vim自己的
set nocompatible

" 在当前目录和其子目录下递归查找 tags文件
set tags=tags;
set autochdir
